




    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">


        <div class="item active">
					
					
					
					
					<%= image_tag("two.png") %>
					
          <div class="container">
						
            <div class="carousel-caption">
							<%= image_tag("hero_big.png") %>
              <h1>Become a RedKite Hero today.</h1>
              <p>Help us spread the world and help a family by sharing </p>
            </div>
          </div>
        </div>
				
				
				        
				
				<div class="item ">
          <%= image_tag("three.png") %>
          <div class="container">
            <div class="carousel-caption">
							<%= image_tag("hero_big.png") %>
								<h1>“Redkite is a solid rock. I know when I ring that no one is going 
																to judge me. They listen and they find solutions.” </h1>
																<p>– A Mum supported by Redkite (need to run by Rosie) </p>
																
								
								
            </div>
          </div>
        </div>
				
				
        <div class="item">

          <%= image_tag("one.png") %>
          <div class="container">
            <div class="carousel-caption">
							<%= image_tag("hero_big.png") %>
							<h1>“Redkite stepped in and paid some bills…Taking that worry for 
														me so I could concentrate on my son and family” </h1>
							<p>– A Family’s thanks. </p>
							
							
            </div>
          </div>
        </div>
				
				

				
				
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
 

    <div class="container marketing">




			
			<div class="row" style="text-align: center;margin-bottom: 35px;">
				
				
				<a href="/pages/user" class="btn btn-lg btn-primary" href="#" role="button" style="text-align: center;width: 50%;">
					
					  <span class="glyphicon glyphicon-heart"></span>
						<!-- <span class="glyphicon glyphicon-heart-empty"></span> -->
					Become a Hero</a>
				</div>
				
				
				
				
			<hr />
			

      <!-- Three columns of text below the carousel -->
      <div class="row">
        
				<div class="col-lg-4">
          <!-- <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image"> -->
					<span class="home_icons glyphicon glyphicon-refresh"></span>
          <h2>
						 1. Share</h2>
          <p>Share the RedKite's story and inform the world! We will provide you a unique links with content and hashtags. Make everyone be part of this</p>
        </div><!-- /.col-lg-4 -->
				
				
        <div class="col-lg-4">
          <!-- <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image"> -->
					<span class="home_icons glyphicon glyphicon-ok"></span>
          <h2>
						
						 2. Verify</h2>
          <p>Verify your points! We will messure your points based on the shares, like and retweets you make! You have a unique id so we can search in the internet</p>
        </div><!-- /.col-lg-4 -->
				
				
        <div class="col-lg-4">
          <!-- <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image"> -->
					<span class="home_icons glyphicon glyphicon-thumbs-up"></span>
          <h2>
						
						
						 3. Become Hero</h2>
          <p>Now you are officially a RedKit Hero! Thank you! Embed the badge to your website and share with your friends</p>
        </div><!-- /.col-lg-4 -->
				
				
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"> <span class="text-muted">About</span> Redkite</h2>
          <p class="lead">Providing essential support to children, young people and their families through cancer has remained Redkite's single focus for 30 years.
 
Redkite supports children, teenagers and young adults with cancer (up to the age of 24), and their families.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">How you can <span class="text-muted">Help</span></h2>
          <p class="lead">Share Red Kite materials and  let the world know! We provide videos and links to share so everyone get informed </p>
        </div>
      </div>


      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->










<h1>Latest Heroes:</h1>
    <!-- 
    ================================================== -->

<% 10.times do |time| %>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-3 col-md-3 text-center">
											
											
<%  img = ["901326","3322796","12410017","36409026","48902351","58702055","204400841","218100950","218300484","219200620","219800544","284002804","500264348","500334260","500480418","500889952","501125203","502418916","502778674","502873878","503653302","503921970","504187714","506075294","506495148","507007206","507029061","507915954","508431849"].sample %>
											
                        <img src="http://graph.facebook.com/<%= img %>/picture?type=large" alt="bootsnipp"
                            class="img-rounded img-responsive"  style="width: 120px;
height: 120px;"/>
                    </div>
                    <div class="col-xs-9 col-md-9 section-box">
                        <h2>

                            <%= ["Alexander Padberg", "Aracely Smitham", "Bruce Muller", "Jeff Pouros", "Yannis Kolovos", "Victor Nava", "Rogelio Vandervort", "Darius Schulist IV", "Kayleigh Terry", "Ellie Mardas"].sample %>
                            </span></a>
                        </h2>
                        <p>
                            Win <%= (0..100).to_a.sample %> credits by posting at <%= ["Twitter", "Facebook", "LinkedIn", "Vimeo"].sample %></p>
                        <hr />
                        <div class="row rating-desc">
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-heart"></span><span class="glyphicon glyphicon-heart">
                                </span><span class="glyphicon glyphicon-heart"></span><span class="glyphicon glyphicon-heart">
                                </span><span class="glyphicon glyphicon-heart"></span>(<%= (0..100).to_a.sample %>)<span class="separator">|</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
				
<% end %>
				<style type="text/css" media="screen">
				.glyphicon { margin-right:5px;}
				.section-box h2 { margin-top:0px;}
				.section-box h2 a { font-size:15px; }
				.glyphicon-heart { color:#e74c3c;}
				.glyphicon-comment { color:#27ae60;}
				.separator { padding-right:5px;padding-left:5px; }
				.section-box hr {margin-top: 0;margin-bottom: 5px;border: 0;border-top: 1px solid rgb(199, 199, 199);}
									
				</style>






		    <!-- 
		    ================================================== -->
		    
				
				
				
				
      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Redkite, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/docs.min.js"></script>
